@import url('https://fonts.googleapis.com/css2?family=Amiko&family=Lora&display=swap');

.error-message {
    color: red;
}

.create-ride-post-btn {
    margin-right: 3em !important;
    background-color: #5ea8f8 !important;
}