@import url('https://fonts.googleapis.com/css2?family=Amiko&family=Lora&display=swap');

.error-message {
    color: red;
    margin-right: 20px;
    margin-left: 20px;
}

.create-ride-post-btn {
    margin-right: 100px !important;
    background-color: #5ea8f8 !important;
}