@import url('https://fonts.googleapis.com/css2?family=Amiko&family=Lora&display=swap');

body {
    font-family: 'Amiko', sans-serif;
}

.driver-profile-page {
    display: flex;
    flex-basis: 100%;
    flex: 1;
}

.driver-info-container {
    max-width: 400px;
    margin-left: 40px;
    margin-top: 2.5%;
    background-color: #cde4fd;
    border-radius: 20px;
}

.driver-info {
    width: auto;
    height: auto;
}

.driver-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 5% auto;
    max-height: 400px;
    max-width: 400px;
    min-width: 340px;
    height: auto;
    border-radius: 10px;
}

.name-rating {
    display: flex;
    align-items: center;
    width: 90%;

    .user-name {
        position: relative;
        padding-left: 5.5%;
        font-size: 2em;
        margin: 5px 10px 5px 0px;
    }

    .review-star-icon {
        font-size: 2em;
        color: #FFD700;
    }

    .avg-user-rating {
        font-size: 1.4em;
        text-align: center;
        color: rgb(79, 78, 78);
    }
}

.driver-car {
    position: relative;
    padding-left: 5.5%;
    margin-top: 5px;
    font-size: 1.3em;
    margin-bottom: -10px;
}

.driver-bio {
    position: relative;
    padding-left: 5.5%;
    width: auto;
}

.driver-reviews-container {
    margin-left: 4%;
    margin-top: 15px;
    width: 100%;
    
    .reviews-heading-container {
        width: 90%;
        background-color: #5ea8f8;
        border-radius: 10px !important;
        margin-bottom: 20px;    

        .reviews-heading {
            font-size: 2em;
            color: white;
            text-align: center;
            padding: 0.6em 0 0.6em 0;
        }   
    }
}

.review-title {
    text-align: center;
    padding-top: 10px;
}

.review-date {
    text-align: center;
    padding-top: 10px;
    padding-left: 10px;
    font-size: 14px;
    color: #7B7B7B;
    padding-right: 5px;
}

.review-time {
    text-align: center;
    padding-top: 10px;
    padding-left: 4px;
    font-size: 14px;
    color: #7B7B7B;
    padding-right: 10px;
}

.driver-rating {
    background-color:#439EFF;
    color: white;
    font-weight: 400;
    font-size: 1.5em;
    padding: 5px 10px 5px 10px;
    margin-right: 5px;
    border-radius: 10px !important;
}

.reviews-accordion {
    margin-bottom: 20px;
    max-width: 90%;
    border-radius: 10px !important;
}

.review-expanded {
}

.review-button-section {
    display: flex;
    justify-content: flex-end;
    margin-right: 10%;
    margin-bottom: 10px;
}

.date-time {
    display: flex;
    justify-content: flex-end;
    margin-top: 2px;
}

.date-time-separator {
    color: #7B7B7B;
    margin-top: 6px;
    font-weight: 600;

}

.rider-link{
    color: #000000;
    color: #5ea8f8;
}

.rider-link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.no-reviews-msg {
    padding-top: 40px;
    padding-bottom: 40px;
    width: 96%
}