@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiko&family=Lora&display=swap');

.h1-headings {
    font-size: 80px;
        font-family: 'Ubuntu', sans-serif;
        color: white;
        font-weight: bold;
    position: absolute;
    top: 33%;
    width: 853px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

h2 {
    position: absolute;
    top: 45%;
    height: auto;
    width: 80%;

    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    text-align: center;

    color: #565656;
}

p {
    position: absolute;
    top: 60%;
    width: 85%;
    height: auto;

    font-family: 'Amiko', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #565656;
}

a {
    color: white;
    text-decoration: none;
}

.infobox {
    position: relative;
    width: 23.4%;
    min-height: 350px;
    margin: 1%;
    left: .5%;
    background-color: white;
    float: left;
    padding: 3%;
}

.infocontainer {
    width: 100%;
    position: relative;
    top: 50px;
    z-index: 1;
}

.backdrop {
    z-index: -2;
    position: sticky;
    top: 0;
    width: 100%;
}

.bodycontainer {
    width: 100%;
    height: 1500px;
}

.quickcontainer {
    justify-content: center;
    position: absolute;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);
    width: 600px;
    height: 60px;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    
}

.textbox {
    box-sizing: border-box;
    border: 4px solid #00000000;
    border-radius: 10px;
    position: relative;
    width: 240px;
    height: 70px;
    z-index: 1;
    text-align: center;

    font-size: 26px;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    
    font-weight: bold;
    line-height: 34px;
    margin: 0px 15px;
    padding: 13px 10px;
}

.color1{
    background: rgba(52, 158, 255, 0.70);
}

.color2 {
    background: rgba(231, 234, 49, 0.70);
}

.color1:hover {
    background: rgba(112, 186, 255, 0.7);
    border: 4px solid #ffffff;
}

.color2:hover {
    background: rgba(253, 255, 138, 0.7);
    border: 4px solid #ffffff;
}

.divider {
    background: rgba(52, 158, 255, 0.65);
    position: static;
    width: .5%;
    height: 420px;
    background: #D9D9D9;
    border-radius: 48px;
    float: left;
    margin-top: 2%;
    margin-left: 1%;
    margin-bottom: 3%;
}

.logincontainer {
    width: 100%;
    height: 90px;
    position: fixed;
    background-color: white;
    z-index: 10;
    box-shadow: 0 2px 10px -2px rgb(100, 100, 100);
    bottom: 0;

    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.logintext {
    float: left;
    width: 420px;
    height: 20px;
    position: relative;
    font-family: 'Amiko', sans-serif;
    font-size: 18px;
    color: #565656;
    /* border: solid 3px black; */
    position: relative;
    transform: translate(0%, -50%);
    top: 50%;
    text-align: center;
    padding: 10px 5px;
    margin-right: 20px;
}

.logintext2 {
    float: left;
    width: 270px;
    height: 20px;
    position: relative;
    font-family: 'Amiko', sans-serif;
    font-size: 18px;
    /* border: solid 3px black; */
    position: relative;
    transform: translate(0%, -50%);
    top: 50%;
    text-align: center;
    padding: 10px 5px;
    margin-left: 50px;
    color: #565656;
}

.loginbutton {
    float: left;
    box-sizing: border-box;
    border: 4px solid #00000000;
    border-radius: 5px;
    position: relative;
    width: 150px;
    height: 50px;
    z-index: 1;
    text-align: center;
    background-color: rgba(52, 158, 255, 0.70);

    font-size: 24px;
    font-family: 'Ubuntu', sans-serif;
    color: white;

    font-weight: bold;
    line-height: 34px;
    position: relative;
    top: 23%;
    padding: 3px 10px;
}

.loginbutton:hover {
    border-color: rgba(52, 158, 255, 0.70);
    background-color: #00000000;
    color: rgba(52, 158, 255, 0.70);
}

.signuplink {
    font-family: 'Amiko', sans-serif;
    font-size: 18px;
    color: #3e71b9;
    font-weight: bold;
}

.icon {
    width: 250px;
    max-width: 100%;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.backing {
    background: white;
    position: static;
    width: 100%;
    height: 1000px;
    z-index: -.5;
}

.backing {
    background: white;
    position: static;
    width: 100%;
    height: 1000px;
    z-index: -.5;
    /* border: solid 5px black; */
}

.additionalinfocontainer {
    position: relative;
    width: 100%;
    height: 55%;
    background: #ebeaea;
    float: left;
    z-index: 2;
    margin-top: 70px;
    box-shadow: 0 0 10px -2px rgb(100, 100, 100);
}

.additionalinfo {
    width: 40%;
    height: 73%;
    background: url('./janss.png');
    border-radius: 25px;
    object-position: 0% 100px;
    position: relative;
    background-repeat: no-repeat;
    background-size: 105% 110%;
    opacity: 1;
    object-fit: cover;
    margin-left: 7%;
    text-align: center;
    margin-top: 70px;
    float: left;
}

.additionalinfotext {
    width: 40%;
    height: 350px;
    position: relative;
    padding-top: 60px;
    margin: 70px;
    text-align: left;
    float: left;
    color: #3e71b9;
    font-size: 74px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}

.footercontainer {
    position: relative;
    width: fill;
    height: 250px;
    background: #ffffff;
    float: left;
    z-index: 1;
    padding: 20px;
}    

.footerheading {
    color:rgb(100, 100, 100);
    font-size: 14px;
    width: 80%;
}

.logo {
    float: left;
    color: #111111;
    font-size: 1.5rem;
    text-decoration: none;
    font-family: 'Amiko', sans-serif;
    letter-spacing: 2px;
    margin-left: 35px;
    margin-right: 15px;
}

.bottomtext {
    float: left;
    font-size: 14px;
    font-family: 'Amiko';
    margin: 8px;
}

.bottom {
    width: fill;
    position: static;
    background-color:rgb(25, 25, 25);
    color: white;
    height: 20px;
    z-index: 5;
    float: left;
    padding: 30px;
}