@import url('https://fonts.googleapis.com/css2?family=Amiko&family=Lora&display=swap');

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #ffffff;
    box-shadow: 0 2px 2px -2px;
}

.navbar-logo a {
    color: #111111;
    font-size: 1.5rem;
    text-decoration: none;
    font-family: 'Amiko', sans-serif;
    margin: 1.5rem;
    letter-spacing: 2px;
}

.navbar-links {
    display: flex;
    list-style: none;
    align-items: center;
    margin: 0;
    padding: 0;
    font-family: 'Amiko', sans-serif;
    font-weight: 400;
}

.navbar-links li:not(:last-child) {
    margin-right: 10px;
  }
  
  .navbar-links li:last-child {
    margin-right: 3rem;
}

  
.navbar-links li a {
    color: #111111;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}

.navbar-links li a:hover {
    background-color: #439EFF; 
    color: #ffffff;
    text-decoration: underline;
}

.loginButton {
    font-family: 'Amiko', sans-serif;
    border-radius: 20px;
    border-width: 0px;
    background-color: #439EFF;
    color: white;
    font-weight: bold;
    padding: 4px 18px;
    cursor: pointer;
    font-size: 1.1rem;
    margin: 0;
}

.loginButton:hover {
    background-color: #388ae1;
    transition:ease-out;
}

.popupLogo {
    color: #111111;
    font-size: 2.5rem;
    text-decoration: none;
    font-family: 'Amiko', sans-serif;
    margin-bottom: '2%';
    letter-spacing: 3px;
    text-align: center;
    margin-top: 3.5%;
}
.exButton {
    position: absolute;
    height: 4.5%;
    width: 6%;
    top: 3.7%;
    left: 90%;
}

.welcomeMessage {
    color: #111111;
    font-size: 1.5rem;
    text-decoration: none;
    font-family: 'Amiko', sans-serif;
    text-align: center;
    font-weight: bold;
    margin-top: 2.5%;
}

.descriptionMessage {
    color: rgb(106, 100, 100);
    font-family: 'Amiko', sans-serif;
    text-align: center;
    font-size: 0.95rem;
    margin-top: 1%;
}

.signInButtonContainer {
    justify-content: center;
    flex-direction: row;
    display: flex;
    /* border-style: solid; */
}

.googleContainer {
    flex-direction: row;
    display: flex;
    border-radius: 8px;
    border-width: 1.5px;
    border-color: rgba(207, 205, 205, 0.959);
    border-style: solid;
    cursor: pointer;
    justify-content: center;
    padding-top: 0.2%;
    padding-bottom: 0.2%;
    width: 33%;
    height: 2.2em;
    margin-top: 4%;
}

.googleContainer:hover {
	background: rgb(231, 231, 231);
    transition:ease-out;
}

.googleLogo {
    max-height: 65%;
    max-width: 65%;
    align-self: center;
    /* border-style: solid; */
}

.googleText {
    color: black;
    font-size: 1.1rem;
    font-family: 'Amiko', sans-serif;
    font-weight: bolder;
    align-self: center;
    margin-left: 6.5%;
    padding-top: 1%;
}

.divideContainer {
    justify-content: center;
    flex-direction: row;
    display: flex;
    height: 5px;
    margin-top: 6%;
}