.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.modal-content {
    border-radius: 15px;
    width: 600px;
    background-color: white;
    padding: 14px 20px 14px 20px;
}

.modal-text-area {
    width: 99%;
    height: 80px;
}

.thank-you-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.thank-you-content {
    border-radius: 15px;
    width: 600px;
    background-color: white;
    padding: 14px 20px 14px 20px;
}

.close-icon {
    display: flex;
    left: 94%;
    box-shadow: none;
}