@import url('https://fonts.googleapis.com/css2?family=Amiko&family=Lora&display=swap');

body {
    font-family: 'Amiko', sans-serif;
}

.profile-page {
    display: flex;
    flex-basis: 100%;
    flex: 1;
}

.user-container {
    max-width: 350px;
    margin-left: 40px;
    margin-top: 2.5%;
}

.user-photo {
    position: relative;
    margin-top: 5%;
    margin-left: 5%;
    max-height: 400px;
    max-width: 350px;
    height: auto;
    border-radius: 10px;
}

.name-rating {
    display: flex;
    align-items: center;

    .user-name {
        position: relative;
        padding-left: 5.5%;
        font-size: 2em;
        margin: 5px 10px 5px 0px;
        /* width: 100%; */
    }

    .review-star-icon {
        font-size: 2em;
        color: gray;
    }

    .avg-user-rating {
        font-size: 1.4em;
        text-align: center;
        color: rgb(79, 78, 78);

        /* padding-top: 2px; */
    }
}

.user-car {
    position: relative;
    padding-left: 5.5%;
    margin-top: -2px;
    font-size: 1.3em;
    margin-bottom: -10px;
    width: 100%;
}

.user-bio {
    position: relative;
    padding-left: 5.5%;
    width: 360px;
}

.user-reviews-container {
    margin-left: 4%;
    margin-top: 15px;
    max-width: 100%;
    
    .reviews-heading-container {
        width: 90%;
        height: 10%;
        background-color: #5ea8f8;
        border-radius: 10px !important;
        margin-bottom: 20px;    

        .reviews-heading {
            font-size: 2em;
            color: white;
            /* text-decoration: underline; */
            text-align: center;
            padding: 0.6em 0 0.6em 0;
        }   
    }
}

.review-title {
    text-align: center;
    padding-top: 10px;
}

.review-date {
    text-align: center;
    padding-top: 10px;
    padding-left: 10px;
    font-size: 14px;
    color: #7B7B7B;
    padding-right: 5px;
}

.review-time {
    text-align: center;
    padding-top: 10px;
    padding-left: 4px;
    font-size: 14px;
    color: #7B7B7B;
    padding-right: 10px;
}

.user-rating {
    background-color:#439EFF;
    color: white;
    font-weight: 400;
    font-size: 1.5em;
    padding: 5px 10px 5px 10px;
    margin-right: 5px;
    border-radius: 10px !important;
}

.reviews-accordion {
    margin-bottom: 20px;
    max-width: 100%;
    border-radius: 10px !important;
}

.review-expanded {
    /* background-color: #b7ddfc;  */
}

.no-reviews-container {
    width: 100%;
}

.no-reviews-message {
    height: 100px;
}

.driver-link {
    color: #000000;
}

.driver-link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.encompassing-reviews-container {
    width: 90%;
    margin-left: 100px;
}